body {
  width: 350px;
  height: 400hv;
  margin: 0%;
  background-color: #d3d3d3;
}

body .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d3d3d3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 0px;
  -webkit-box-shadow: 0px 10px 6px -6px #777777;
          box-shadow: 0px 10px 6px -6px #777777;
  margin-top: 0;
  padding-top: 0;
}

.header img {
  width: 100%;
  height: auto;
}

.highlighters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.highlighters .highlighter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 0px;
  -webkit-box-shadow: 0px 10px 6px -6px #777777;
          box-shadow: 0px 10px 6px -6px #777777;
}

.highlighters .highlighter .yellow {
  background: yellow;
  margin-left: 2%;
  margin-right: 2%;
  height: 30px;
  width: 30px;
  border: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 6px -6px #777777;
          box-shadow: 6px 6px 6px -6px #777777;
}

.highlighters .highlighter .pink {
  background: pink;
  margin-left: 2%;
  margin-right: 2%;
  height: 30px;
  width: 30px;
  border: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 6px -6px #777777;
          box-shadow: 6px 6px 6px -6px #777777;
}

.highlighters .highlighter .blue {
  background: lightskyblue;
  margin-left: 2%;
  margin-right: 2%;
  height: 30px;
  width: 30px;
  border: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 6px -6px #777777;
          box-shadow: 6px 6px 6px -6px #777777;
}

.highlighters .highlighter .green {
  background: lightgreen;
  margin-left: 2%;
  margin-right: 2%;
  height: 30px;
  width: 30px;
  border: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 6px -6px #777777;
          box-shadow: 6px 6px 6px -6px #777777;
}

.highlighters .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.highlighters .input .input-yellow .input-blue .input-pink .input-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.highlighters .button-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 2%;
  margin-right: 10%;
}

.highlighters .button-col .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

.footer {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 0px;
  -webkit-box-shadow: 0px 10px 6px -6px #777777;
          box-shadow: 0px 10px 6px -6px #777777;
}

.footer .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

button {
  color: white;
  background: #4c8ffb;
  border: 1px #3079ed solid;
  -webkit-box-shadow: inset 0 1px 0 #80b0fb;
          box-shadow: inset 0 1px 0 #80b0fb;
  outline: none;
}

button:hover {
  border: 1px #2f5bb7 solid;
  -webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #5a94f1;
          box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #5a94f1;
  background: #3f83f1;
  outline: none;
}

button:active {
  -webkit-box-shadow: inset 0 2px 5px #1b57c7;
          box-shadow: inset 0 2px 5px #1b57c7;
  outline: none;
}
/*# sourceMappingURL=style.css.map */